/*.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.App div {
  font-size: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.App div {
  font-size: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media (max-width: 768px) {
  .App {
    height: 100%;
  }
  .App div {
    font-size: 1.5rem;
  }
  .App-header {
    min-height: 100%;
    font-size: calc(8px + 2vmin);
  }
  .main {
    min-height: 100%;
    font-size: calc(8px + 2vmin);
  }
}


@media (max-width: 480px) {
  .App {
    height: 100%;
  }
  .App div {
    font-size: 1.2rem;
  }
  .App-header {
    min-height: 100%;
    font-size: calc(6px + 2vmin);
  }
  .main {
    min-height: 100%;
    font-size: calc(6px + 2vmin);
  }
}