.login-main-container {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.login-title {
    font-size: 4rem;
    color: black;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
    margin-bottom: 2vh;
    font-family: 'Courier New', Courier, monospace;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.login-input {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    background-color: #282c34;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.login-button {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    background-color: #282c34;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.login-button:hover {
    transform: scale(1.2);
}